body{
    background-image: url("../img/fondo.jpg ");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}

.card{
    box-shadow: 1px 1px 5px gray;
}

.cards{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.card-item{
    display: flex;
    padding: 4rem;

}

.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.card img{
    width: 150px;
}

.pokeball{
    width: 30%;
}